<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- <script src="public/js/jquery/jquery.js"></script>
  <script src="public/js/bootstrap/bootstrap.min.js"></script> -->
  <script src="http://localhost:2999/js/jquery/jquery.js"></script>
  <script src="http://localhost:2999/js/bootstrap/bootstrap.min.js"></script>
  <link href="http://localhost:2999/css/bootstrap/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="http://localhost:2999/socket.io/socket.io.js"></script>

  <script>

    $(document).ready(function () {
      var socketCore = io("http://localhost:2999");

      $('#close').on('click', function() {
        console.log('close');
        socketCore.emit("Client-set-close-window");
      });
      $('#reload').on('click', function() {
        socketCore.emit("Client-set-reload-window");
      });
    });

  </script>
</head>

<body>
  <style>
    body {
      background-color: rgba(245, 245, 246, 0.431);
      background-image: url('img/repeatTriangle.jpg');
      background-repeat: repeat;
    }
    .error-template {padding: 40px 15px;text-align: center;}
    .error-actions {margin-top:15px;margin-bottom:15px;}
    .error-actions .btn { margin-right:10px; }
  </style>

  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="error-template">
                  <h1>
                      Oops!</h1>
                  <h2>
                      404 Not Found</h2>
                  <div class="error-details">
                      Sorry, an error has occured, Requested page not found!
                  </div>
                  <div class="error-actions">
                      <a id="reload" href="#" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> Reload </a>
                      <a id="close" href="#" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Close </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
